
<!DOCTYPE html>
<html>
<head>
    <title>Academia Insights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="sidebar">
        <h2>Academia Insights</h2>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/students">Students</a></li>
        </ul>
    </div>
    <div class="main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
